/* Pre-game layout */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

#about {
    font-family: monospace;
    padding: 2em;
}

#win,
#game-options {
    position: fixed;
    left: 50%;
    top: 50%;
    border: 3px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    transform: translate(-50%, -50%);
}

#win {
    height: 3rem;
    width: 30rem;
    padding: 5px;
}

#game-options {
    min-height: 50%;
    min-width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

/* Game layout */

@media screen and (min-width: 900px) {
    #game {
        display: flex;
        position: relative;
        max-height: 100%;
        width: 100%;
    }

    #game > * { flex: 1 1; }

    #board {
        aspect-ratio: 1 / 1;
    }

    #game > .right {
        flex: .1 .1;
        min-width: max(10%, 18em);
        position: relative;
        min-height: 100vh;
    }

    #turn-info {
        margin: 2em 0;
    }
    .game-actions {
        padding: 2em;
        display: flex;
    }
    .game-actions > * { flex: 1; text-align: center; }
    #about {  /* Can be in right sidebar or main area */
        border-top: 1px solid lightgrey;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    #game #about { border-left: 1px solid lightgrey; }
}
@media screen and (max-width: 900px) {
    #game {
        display: flex;
        position: relative;
        width: 100%;
        flex-direction: column;
    }

    #board {
        flex: 1 1;
    }

    #game > .right {
        flex: 0 0;
    }

    #turn-info {
        margin: .1em 0;
    }
    .game-actions {
        padding: 1em;
        display: flex;
    }
    .game-actions > * { flex: 1; text-align: center; }
    #about {  /* Can be in right sidebar or main area */
        border-top: 1px solid lightgrey;
        flex: 0 0;
    }
    body > #about {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    #game #about { border-left: 1px solid lightgrey; }
}

/* Styles */
.action {
    background-color: lightgrey;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    border: 1px solid;
    user-select: none;
    box-shadow: 0 3px #999;
}
.action:hover {
    background-color: #eeeeee;
}
.action:active {
    background-color: #eeeeee;
    box-shadow: 0 1px #999;
    transform: translateY(2px);
}

#board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
#board > div {
    display: flex;
    flex-direction: row;
    flex: 0 0;
}

.sprite {
    position: relative;
    z-index: 0;
}

.sprite > * {
    position: absolute;
    z-index: 1
}

#turn-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

#score {
    text-align: center;
}

#action-area {
    padding: 2rem;
    width: 8rem;
}

.action.share-link {
    margin: 2rem;
    text-align: center;
}
.action.play {
    margin-top: 2rem;
}

.possible-move {
    /*visibility: hidden;*/
    opacity: 0;
}
.possible-move:hover {
    visibility: visible;
    opacity: 0.8;
}
.possible-move:active {
    visibility: visible;
    opacity: 1;
}

.option {
    display: flex;
}

.option > .label {
    flex: 0 0 ;
    display: flex;
    justify-content: center;
    margin-right: 1em;
    min-width: fit-content;
    font-weight: bold;
    flex-wrap: wrap;
    align-items: center;
}
.option > .choice {
    flex: 1 1;
    border: 1px solid;
}

.choice {
    background-color: lightgrey;
    padding: min(10px, 2vw);
    margin: 5px 0;
    border: 1px solid;
    user-select: none;
    box-shadow: 0 3px #999;
}
.choice:nth-child(2) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.choice:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.choice:hover, .choice:active {
    background-color: #eeeeee;
}
.choice:active, .choice.selected {
    box-shadow: 0 1px #999;
    transform: translateY(2px);
}
